<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004039114611-omggsl68uvtb0vcv7n3mkga6qb2lj4fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004039114611-omggsl68uvtb0vcv7n3mkga6qb2lj4fa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004039114611-ehms17pj19u1lpib0kcm4cjll0ij6e63.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcEn04RDQ19KCBNFRj0ShKYUhinVrfG0g</string>
	<key>GCM_SENDER_ID</key>
	<string>1004039114611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DenverPersinger.digilingoTest</string>
	<key>PROJECT_ID</key>
	<string>digital-literacy-f0owkn</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-literacy-f0owkn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004039114611:ios:ce8a58935c323852b3ff06</string>
</dict>
</plist>